"$schema" = "https://starship.rs/config-schema.json"

format = """
$directory\
$fill\
$git_branch\
$git_status\
$line_break\
$character"""

right_format = """
$cmd_duration
"""

[fill]
symbol = "-"

[directory]
truncate_to_repo = false
truncation_length = 999

[git_branch]
format = " [$symbol$branch(:$remote_branch)]($style) "
